raidite-server/node_modules
raidite-server/dist
raidite-server/.env

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
raidite-web/node_modules
raidite-web/.pnp
raidite-web/.pnp.js

# testing
raidite-web/coverage

# next.js
raidite-web/.next/
raidite-web/out/

# production
raidite-web/build

# misc
raidite-web/.DS_Store
raidite-web/*.pem

# debug
raidite-web/npm-debug.log*
raidite-web/yarn-debug.log*
raidite-web/yarn-error.log*

# local env files
raidite-web/.env.local
raidite-web/.env.development.local
raidite-web/.env.test.local
raidite-web/.env.production.local

# vercel
raidite-web/.vercel
